<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Design Patterns">
            <directory suffix="Test.php">src/Behavioral/*/Tests</directory>
            <directory suffix="Test.php">src/Creational/*/Tests</directory>
            <directory suffix="Test.php">src/Structural/*/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>